<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BimLinkExampleRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BimLinkExampleRunner.Properties.Settings>
            <setting name="CheckbotLocation" serializeAs="String">
                <value>C:\Program Files\IDEA StatiCa\StatiCa 24.0\IdeaCheckbot.exe</value>
            </setting>
            <setting name="ApplicationType" serializeAs="String">
                <value>CAD</value>
            </setting>
        </BimLinkExampleRunner.Properties.Settings>
    </userSettings>
</configuration>