<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Fallback if registry key HKLM\SOFTWARE\IDEAStatiCa\<version>\IDEAStatiCa\Designer\InstallDir64 is absent -->
    <add key="CheckbotLocation" value="C:\Program Files\IDEA StatiCa\StatiCa 26.0\IdeaCheckbot.exe" />
  </appSettings>
</configuration>
