<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IdeaRS.OpenModel" publicKeyToken="b195254c3273d5c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.2" newVersion="10.1.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
